.container {
    margin: 20px auto;
    width: 510px;
    overflow: hidden;
    position: relative;
}
.inner {
    position: relative;
    width: 9999px;
    left: 0;
    top: 0;
}
.innerwraper {
    float: left;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: "";
    height: 0;
}
a {
    text-decoration: none;
}
.left-arrow {
    position: absolute;
    left: 0;
    top: 40%;
    width: 10%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}
.right-arrow {
    position: absolute;
    right: 0;
    top: 40%;
    width: 10%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.pagination{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.pagination span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: yellow;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .active{
    background-color: red;
    color: #FFFFFF;
}