<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqq.dao.Praise_commentMapper">
  <resultMap id="BaseResultMap" type="com.xqq.pojo.Praise_commentKey">
    <id column="commentId" jdbcType="INTEGER" property="commentId" />
    <id column="PraiseUserId" jdbcType="INTEGER" property="praiseUserId" />
    <id column="PraiseUserType" jdbcType="SMALLINT" property="praiseUserType" />
  </resultMap>
  <select id="selectByCommentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from praise_comment
    where commentId=#{commentId}
  </select>
  <select id="selectByPrimaryKey" parameterType="com.xqq.pojo.Praise_commentKey" resultMap="BaseResultMap">
    select * from praise_comment
    where commentId=#{commentId}
    and
    praiseUserId=#{praiseUserId}
    AND
    praiseUserType=#{praiseUserType}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xqq.pojo.Praise_commentKey">
    delete from praise_comment
    where commentId = #{commentId,jdbcType=INTEGER}
      and PraiseUserId = #{praiseUserId,jdbcType=INTEGER}
      and PraiseUserType = #{praiseUserType,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.xqq.pojo.Praise_commentKey">
    insert into praise_comment (commentId, PraiseUserId, PraiseUserType
      )
    values (#{commentId,jdbcType=INTEGER}, #{praiseUserId,jdbcType=INTEGER}, #{praiseUserType,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xqq.pojo.Praise_commentKey">
    insert into praise_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        commentId,
      </if>
      <if test="praiseUserId != null">
        PraiseUserId,
      </if>
      <if test="praiseUserType != null">
        PraiseUserType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="praiseUserId != null">
        #{praiseUserId,jdbcType=INTEGER},
      </if>
      <if test="praiseUserType != null">
        #{praiseUserType,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>